// main: ../global/import.scss
@charset "utf-8";
/*
 * =====================================================
 *
 * [variable]
 *
 * =====================================================
 */
// ブレークポイント
$bp: 768px;

// コンテンツ幅
$contentWidth: 1000px;
$minWidth: 1100px;

// 色設定
$textColor: #523c3c;
$errorTextColor: #cd7072;

$baseColor: #523c3c;
$keyColor: #ccc;

$bgColor: #f7f5f3;
$borderColor: #e7e0da;

$okColor: #e1efe3;
$ngColor: #f9e2e0;

// フォント設定
$defaultFont: 'Noto Sans JP', sans-serif;
$serifFont: 'Noto Serif JP', serif;
$fontEn: 'Oswald', sans-serif;
