// main: ../global/import.scss
@charset "utf-8";
@use '../extension/' as ext;
@use '../content/content' as content;
/*
 * =====================================================
 *
 * [news]
 *
 * =====================================================
 */
body.news {
  .sectionVox {
    display: block;
    padding-top: 120px;
    margin-bottom: 120px;
  }
  .entryList {
    article {
      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
      a {
        display: flex;
        justify-content: flex-start;
      }
      time {
        white-space: nowrap;
        margin-right: 20px;
      }
    }
  }
  .newsDetailVox {
    width: ext.$contentWidth;
    padding-top: 80px;
    margin: 0 auto 80px auto;
    > header {
      margin-bottom: 50px;
      time {
        margin-bottom: 10px;
      }
      .entryTitle {
        font-size: 2.5rem;
        font-weight: normal;
        line-height: 1.5;
      }
    }
    > .inner {
      @extend .moduleSet;
    }
  }
} /*  END body */
/**
 ****************************************************
 *
 * screens larger than $bp
 *
 ****************************************************
 */
@media only screen and (min-width: ext.$bp) {
} /*  @media END */
/**
 ****************************************************
 *
 * screens smaller than $bp
 *
 ****************************************************
 */
@media only screen and (max-width: (ext.$bp - 1)) {
  body.news {
    .sectionVox {
      padding-top: 50px;
      margin-bottom: 50px;
    }
    .newsDetailVox {
      width: auto;
      padding: 30px 20px 0 20px;
      margin-bottom: 50px;
      > header {
        margin-bottom: 30px;
        .entryTitle {
          font-size: 2rem;
        }
      }
    }
  } /*  END body */
} /*  @media END */
