// main: ../global/import.scss
@charset "utf-8";
@use '../extension/' as ext;
/*
 * =====================================================
 *
 * ベースレイアウトCSS
 *
 * =====================================================
 */
/**
 * ---------------------------------------------------
 * Web font setting
 * ---------------------------------------------------
 */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Noto+Sans+JP:wght@400;500;700&family=Noto+Serif+JP:wght@400;500;700&display=swap');
/**
 * ---------------------------------------------------
 * reset
 * ---------------------------------------------------
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
dl,
pre,
form,
blockquote,
fieldset,
input,
address,
figure,
figcaption,
main {
  margin: 0;
  padding: 0;
}
main,
article,
aside,
details,
figcaption,
figure,
picture,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
// img
img {
  vertical-align: middle;
  border: none;
  max-width: 100%;
  // for Lite
  width: initial;
  height: initial;
}
img[src$='.svg'] {
  width: 100%;
  height: auto;
}
// default
h1,
h2,
h3,
h4,
h5,
h6,
caption {
  font-weight: normal;
  font-size: 100%;
}
a {
  outline: none;
}
address {
  font-style: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption {
  text-align: left;
}
figcaption {
  font-size: 1.2rem;
}
fieldset {
  border: none;
}
legend {
  display: none;
}
input[type='radio'],
input[type='checkbox'],
select {
  vertical-align: middle;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
// link
a {
  color: ext.$textColor;
  text-decoration: none;
  &:link {
    color: ext.$textColor;
    text-decoration: none;
  }
  &:visited {
    color: ext.$textColor;
    text-decoration: none;
  }
  &:hover {
    color: ext.$textColor;
    text-decoration: underline;
  }
  &:active {
    color: ext.$textColor;
    text-decoration: underline;
  }
}
::selection {
  background: ext.$keyColor;
}
::-moz-selection {
  background: ext.$keyColor;
}
/**
 * ---------------------------------------------------
 * html
 * ---------------------------------------------------
 */
html {
  font-size: 62.5%;
}
/**
 * ---------------------------------------------------
 * body
 * ---------------------------------------------------
 */
body {
  color: ext.$textColor;
  font-size: 1.8rem;
  font-family: ext.$defaultFont;
  font-weight: 500;
  font-feature-settings: 'palt';
  letter-spacing: 0.05em;
  line-height: 1.8;
  width: 100%;
  min-width: ext.$minWidth;
  background: ext.$bgColor;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  &.is-pOpen {
    overflow: hidden;
  }
}
/**
 * ---------------------------------------------------
 * wrapper
 * ---------------------------------------------------
 */
#wrapper {
  width: 100%;
  padding-top: 150px;
  position: relative;
  // opacity: 0;
  // overflow: hidden;
}
/**
 * ---------------------------------------------------
 * header
 * ---------------------------------------------------
 */
#siteHeader {
  width: calc(100% - 40px);
  height: 60px;
  padding: 10px 40px;
  background-color: #fff;
  border-radius: 10px;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 10;
  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}
#siteLogo {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  // font-family: ext.$serifFont;
  width: 260px;
  a {
    @include ext.opacityFade();
    text-decoration: none;
  }
}
#gNavWrapper {
  width: calc(100% - 280px);
  ul {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 0 2em;
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      a {
        display: block;
        font-size: 1.5rem;
        line-height: 1.3;
        text-decoration: none;
        padding: 8px 5px;
        position: relative;
        &::after {
          display: block;
          content: '';
          width: 100%;
          height: 1px;
          background-color: rgba(ext.$baseColor, 0.5);
          position: absolute;
          bottom: -2px;
          left: 0;
          opacity: 0;
          transition: bottom 0.3s, opacity 0.3s;
        }
        &:hover {
          &::after {
            bottom: 3px;
            opacity: 1;
          }
        }
      }
    }
  }
}

#gNavOpener {
  display: block;
  width: 60px;
  height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 11;
  background-color: rgba(255, 255, 255, 0.5);
  span {
    width: 36px;
    height: 2px;
    background: ext.$baseColor;
    margin-left: -18px;
    position: absolute;
    left: 50%;
    top: 50%;
    transition: 0.4s;
    transform: rotate(0deg);
    &:nth-child(1) {
      transform: translateY(-10px);
    }
    &:nth-child(3) {
      transform: translateY(10px);
    }
  }
  &.is-navOpen {
    span {
      &:nth-child(2) {
        opacity: 0;
        transform: translateX(50%);
      }
      &:nth-child(1) {
        transform: rotate(-45deg);
      }
      &:nth-child(3) {
        transform: rotate(45deg);
      }
    }
  }
}
/**
 * ---------------------------------------------------
 * pageTitle
 * ---------------------------------------------------
 */
#pageTitle {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-align: center;
  max-width: ext.$contentWidth;
  margin: 0 auto 80px auto;
  h1 {
    display: inline-block;
    font-weight: bold;
    padding-bottom: 30px;
    position: relative;
    &::after {
      display: block;
      content: '';
      width: 50px;
      height: 4px;
      background-color: ext.$baseColor;
      border-radius: 5px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
/**
 * ---------------------------------------------------
 * main
 * ---------------------------------------------------
 */
#container {
}
#main {
  max-width: ext.$contentWidth;
  padding: 0 50px 100px 50px;
  margin: 0 auto;
}
/**
 * ---------------------------------------------------
 * footer
 * ---------------------------------------------------
 */
#siteFooter {
  padding-top: 50px;
  border-top: 1px solid ext.$baseColor;
  .inner {
    max-width: ext.$contentWidth;
    padding: 0 50px;
    margin: 0 auto;
  }
  .pageTopVox {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 10%;
    right: 10%;
    display: none;
    button {
      @include ext.opacityFade();
      display: block;
      text-indent: -9999px;
      text-decoration: none;
      width: 100%;
      height: 100%;
      background-color: rgba(ext.$baseColor, 0.6);
      border-radius: 10em;
      position: relative;
      appearance: none;
      border: 0;
      padding: 0;
      cursor: pointer;
      &::before,
      &::after {
        display: block;
        content: '';
        width: 15px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
      }
      &::before {
        margin-left: 3px;
        transform: translate(-100%, -50%) rotate(-45deg);
      }
      &::after {
        margin-left: -3px;
        transform: translateY(-50%) rotate(45deg);
      }
    }
  }
  #copyright {
    display: block;
    font-size: 1.2rem;
  }
}
/**
 ****************************************************
 *
 * screens smaller than 768
 *
 ****************************************************
 */
@media only screen and (max-width: (ext.$bp - 1)) {
  /**
   * ---------------------------------------------------
   * body
   * ---------------------------------------------------
   */
  body {
    font-size: 1.4rem;
    font-weight: 400;
    min-width: inherit;
    &.is-navOpen {
      position: fixed;
      #gNavWrapper {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  #wrapper {
    padding-top: 100px;
  }
  #main {
    max-width: none;
    padding: 0 0 50px;
    width: 93.75%;
  }
  /**
   * ---------------------------------------------------
   * siteLogo
   * ---------------------------------------------------
   */
  .siteLogo {
    text-align: left;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    span {
      &.sub {
        font-size: 1.3rem;
      }
      &.main {
        font-size: 2.3rem;
      }
    }
  }
  /**
   * ---------------------------------------------------
   * header
   * ---------------------------------------------------
   */
  #gNavWrapper {
    width: 100%;
    height: 100vh;
    padding: 80px 50px 50px 50px;
    border: none;
    position: fixed;
    top: 0;
    right: 0;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.85);
    opacity: 0;
    visibility: hidden;
    transition: all .2s;
    #gNav {
      margin-left: 0;
      margin-bottom: 30px;
      ul {
        display: block;
        li {
          margin: 5px;
          a {
            font-size: 1.8rem;
            font-weight: 500;
            &::before {
              display: none;
            }
          }
        }
      }
    }
    .snsList {
      display: flex;
      justify-content: center;
      padding-top: 0;
      li {
        margin: 0 10px;
      }
    }
  }
  /**
   * ---------------------------------------------------
   * pageTitle
   * ---------------------------------------------------
   */
  #pageTitle {
    font-size: 2rem;
    max-width: none;
    margin-bottom: 30px;
  }
  /**
   * ---------------------------------------------------
   * main
   * ---------------------------------------------------
   */
  /**
   * ---------------------------------------------------
   * footer
   * ---------------------------------------------------
   */
  #siteFooter {
    // padding: 0 20px 30px 20px;
    padding: 0 20px 150px 20px;
    font-weight: 500;
    .inner {
      width: auto;
      padding-top: 30px;
      .siteLogo {
        width: 90px;
        margin: 0 auto 55px auto;
      }
    }
  }
  #copyright {
    font-size: 1rem;
    text-align: left;
  }
} /* END @media smaller than $bp */
